{% extends "base.html" %}

{% block title %}DJ Panel - DJ Request App{% endblock %}

{% block content %}
    <h2>Current Playlist</h2>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Actions</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Submitted at</th>
                <th>Requested by</th>
                <th>Upvotes</th>
            </tr>
        </thead>
        <tbody>
        {% for track in tracks %}
            <tr>
                <td class="{{ 'played2' if track.played_at else 'unplayed' }}">
                    {% if not track.played_at %}
                    <form action="{{ url_for('mark_played', track_id=track.id) }}" method="post" style="display:inline;">
                        <button type="submit">Mark Played</button>
                    </form>
                    {% else %}
                    <form action="{{ url_for('mark_unplayed', track_id=track.id) }}" method="post" style="display:inline;">
                        <button type="submit">Mark Unplayed</button>
                    </form>
                    {% endif %}
                </td>
                <td class="{{ 'played' if track.played_at else '' }}">{{ track.title }}</td>
                <td class="{{ 'played' if track.played_at else '' }}">{{ track.artist }}</td>
                <td>{{ track.submitted_at.strftime('%m/%d/%Y %I:%M%p') }}</td>
                <td>{{ track.user.username if track.user else 'Anonymous' }}</td>
                <td>{{ track.upvotes }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}