<div class="sidebar">
    <h1>{{ title }}</h1>
    {% if current_user.is_authenticated %}
        <p>Welcome, {{ current_user.username }}!</p>
        {% if current_user.is_admin %}
            <p>   
            <form action="{{ url_for('end_playlist') }}" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to end the current playlist?');">
                <button type="submit">End Current Playlist</button>
            </form>
            </p> 
        {% else %}
        {% endif %}
        <p>
        <form action="{{ url_for('history') }}" method="get" style="display:inline;">
            <button type="submit">Request History</button>
        </form>
        </p>
        <p>
            <form action="{{ url_for('logout') }}" method="post" style="display:inline;">
                <button type="submit">Logout</button>
            </form>
        </p>
        {% else %}
            <form action="{{ url_for('login') }}" method="post" style="display:inline;">
                <button type="submit">Login</button>
            </form>
    {% endif %}
</div>